body {
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: white;
  color: black;
}
a {
  color: black;
}
.navbar {
  display: flex;
  box-sizing: border-box;
  width: 98vw;
  margin: 0 1% 0 1%;
}

.logo {
  width: 30%;
  text-align: left;
}
.logo p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
}

.links {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.socialLinks {
  width: 30%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  /* background-color: #333 */
}

li {
  /* float: left; */
}

a {
  text-decoration: none;
  display: block;
  padding: 8px;
  /* color: white; */
}

a:hover {
  /* background-color: #111; */
}
