body {
  margin: 0 2vw 0 2vw;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  background-color: #e2fcef;
  color: black;
}

.navbar {
  display: flex;
  box-sizing: border-box;
  height: 3rem;
  line-height: 3rem;
}

.logo {
  width: 30vw;
}
.logo p {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  white-space: nowrap;
  color: #402039;
}

.links {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.activelink {
  color: #9b287b;
}
.passiveLink {
  color: gray;
}

.passiveLink:hover {
  color: #9b287b;
}

.socialLinks {
  width: 30%;
  display: flex;
  flex-direction: row-reverse;
}

.socialLinks img {
  width: 40px;
  height: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: block;
  padding: 8px;
}

.menuButton {
  display: none;
}

.mobileNavbar {
  display: none;
}

@media (max-width: 767px) {
  body {
    box-sizing: border-box;
    font-size: 10px;
  }
  .navbar {
    align-items: center;
  }
  .logo {
    width: 90vw;
  }

  .links {
    display: none;
  }
  .socialLinks {
    display: none;
  }
  .menuButton {
    display: block;
    width: 10vw;
    float: right;
    /* height: 3rem;
    line-height: 3rem; */
  }
  .menuButton img {
    width: 100%;
  }

  .mobileNavbar {
    display: block;
  }

  .mobileNavbar-active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobileNavbar-passive {
    display: none;
  }
}
